* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #27AE60;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey1: #dbe1e8;
  --color-grey2: #b2becd;
  --color-grey3: #6c7983;
  --color-grey4: #454e56;
  --color-grey5: #2a2e35;
  --color-grey6: #12181b;
  --br-sn-2: 14px;
  --box-shadow-1:0 3px 15px rgba(0,0,0,0.3);
  --transition: all 1s ease-in-out;
}

body {
  background-color: var(--color-primary);
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 8rem;
}

.section {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
  background-color: var(--color-primary);
}

.sect1 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sect2 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sect3 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sect4 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sect5 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}

@-webkit-keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.controls .active-btn {
  background-color: var(--color-secondary) !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.controls .active-btn i {
  color: var(--color-white) !important;
}

.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey4);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.7rem 0;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
}

.controls .control i {
  font-size: 0.8rem;
  color: var(--color-grey2);
}

.header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.header-content .left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-content .left-header .h-shape {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0% 0%, 75% 0, 100% 50%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0, 100% 50%, 75% 100%, 0% 100%);
}

.header-content .left-header .image {
  border-radius: var(--br-sm-2);
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  background-color: var(--color-black);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.header-content .left-header .image img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.header-content .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 18rem;
}

.header-content .right-header .name {
  font-size: 1.5rem;
}

.header-content .right-header .name span {
  color: var(--color-secondary);
}

.header-content .right-header p {
  margin: 1rem 0rem;
  line-height: 1.5rem;
}

.about-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main-title {
  text-align: center;
}

.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}

.main-title h2 span {
  color: var(--color-secondary);
}

.about-stats {
  padding-bottom: 4rem;
}

.about-stats .stat-title {
  text-align: center;
  padding: 1rem;
  border-top: solid 1px;
  margin-bottom: 1rem;
}

.about-stats .progress-bars {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.about-stats .progress-bars .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-stats .progress-bars .progress-bar .progress-title {
  text-transform: uppercase;
  font-weight: 400;
}

.about-stats .progress-bars .progress-bar .progress-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-stats .progress-bars .progress-bar .progress-con .progress-text {
  color: var(--color-secondary);
}

.about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: .45rem;
  background-color: var(--color-grey4);
  margin-left: 1rem;
  position: relative;
}

.about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  width: 90%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .css {
  width: 85%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .javascript {
  width: 75%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .react {
  width: 50%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .nodejs {
  width: 70%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .mongo {
  width: 70%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .bootstrap {
  width: 70%;
}

.port-text {
  padding: 2rem 0rem;
  text-align: center;
}

.portfolios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

.portfolios .portfolio-item {
  position: relative;
}

.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: var(--color-grey5);
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.portfolios .portfolio-item .hover-items h3 {
  font-size: 1rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}

.portfolios .portfolio-item .hover-items p {
  font-size: 10px;
  color: var(--color-secondary);
}

.portfolios .portfolio-item .hover-items .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  margin: 0 .5rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.portfolios .portfolio-item .hover-items .icons .icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-white);
  margin: 0 1rem;
}

.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-white);
}

.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-primary);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact-content-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3.5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-content-con .left-contact {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.contact-content-con .left-contact p {
  margin: 1rem;
  line-height: 2rem;
}

.contact-content-con .left-contact .contact-info .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}

.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr;
      grid-template-columns: 40px 1fr;
}

.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
}

.contact-content-con .left-contact .contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.contact-content-con .left-contact .contact-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey5);
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 0.4rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}

.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}

.contact-content-con .right-contact {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  margin-left: 1rem;
}

.contact-content-con .right-contact .input-control {
  margin: 0.5rem;
}

.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}

.contact-content-con .submit-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-content-con .message-btn {
  background-color: var(--color-grey5);
  padding: .5rem;
  text-transform: uppercase;
  width: 50%;
  border-radius: 30px;
  color: var(--color-white);
}

.contact-content-con .message-btn:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
}

.btn-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 500;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-btn .btn-text {
  padding: 0 1rem;
}

.main-btn .btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.main-btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  z-index: -1;
}

.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
/*# sourceMappingURL=styles.css.map */