* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #27AE60;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey1: #dbe1e8;
  --color-grey2: #b2becd;
  --color-grey3: #6c7983;
  --color-grey4: #454e56;
  --color-grey5: #2a2e35;
  --color-grey6: #12181b;
  --br-sn-2: 14px;
  --box-shadow-1:0 3px 15px rgba(0,0,0,0.3);
  --transition: all 1s ease-in-out;
}

body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: var(--transition);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  width: 100%;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  padding: 3rem 8rem;
}

/*.section {
    transform: translateY(-100%);
    transition: all 4s ease-in-out;
    background-color: var(--color-primary);
}
.sect1 {
    display: none;
    transform: translateY(0) scale(1);
}
.sect2 {
    display: none;
    transform: translateY(0) scale(1);
}
.sect3 {
    display: none;
    transform: translateY(0) scale(1);
}
.sect4 {
    display: none;
    transform: translateY(0) scale(1);
}
.sect5 {
    display: none;
    transform: translateY(0) scale(1);
}
.active {
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim {
        0%{
            transform: translateY(-100%) scaleY(0);
        }
        100%{
            transform: translateY(0) scaleY(1);
        }

    }
}*/
.tech-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  border-top: solid 1px;
  border-bottom: solid 1px;
  margin-bottom: 2rem;
}
.tech-icons i {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--color-secondary);
}
.tech-icons i:hover {
  color: var(--color-white);
  cursor: pointer;

}
.tech-icon {
  font-size: 1.5rem;
  color: var(--color-secondary);
  margin: 0 0.5rem;
}
.tech-icon:hover {
  color: var(--color-white);
  cursor: pointer;
}
.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
.controls .active-btn {
  background-color: var(--color-secondary) !important;
  transition: var(--transition);
}
.controls .active-btn i {
  color: var(--color-white) !important;
}
.controls .control {
  list-style: none;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey4);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  box-shadow: var(--box-shadow-1);
}
.controls .control i {
  font-size: 1.5rem;
  color: var(--color-grey2);
  -o-object-fit: contain;
     object-fit: contain;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  padding: 3rem 8rem;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: var(--transition);
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0% 0%, 75% 0, 100% 50%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0, 100% 50%, 75% 100%, 0% 100%);
}
.header-content .left-header .image {
  border-radius: var(--br-sm-2);
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  background-color: var(--color-black);
  transition: var(--transition);
}
.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--transition);
  filter: grayscale(100%);
}
.header-content .left-header .image img:hover {
  filter: grayscale(0);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10rem;
}
.header-content .right-header .name {
  font-size: 1.5rem;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
}
.header-content .right-header p {
  margin: 1rem 0rem;
  line-height: 1.5rem;
}

.about-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}
.main-title h2 span {
  color: var(--color-secondary);
}

.about-stats {
  padding-bottom: 4rem;
}
.about-stats .stat-title {
  text-align: center;
  padding: 1rem;
  border-top: solid 1px;
  margin-bottom: 1rem;
}
.about-stats .progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.about-stats .progress-bars .progress-bar .progress-title {
  text-transform: uppercase;
  font-weight: 400;
}
.about-stats .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}
.about-stats .progress-bars .progress-bar .progress-con .progress-text {
  color: var(--color-secondary);
}
.about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-grey4);
  margin-left: 1rem;
  position: relative;
}
.about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  transition: var(--transition);
  width: 90%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .css {
  width: 85%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .javascript {
  width: 85%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .react {
  width: 75%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .nodejs {
  width: 80%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .mongo {
  width: 80%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .bootstrap {
  width: 75%;
}

.port-text {
  padding: 2rem 0rem;
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: var(--color-grey5);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: var(--transition);
}
.portfolios .portfolio-item .hover-items h3 {
  font-size: 1rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-items p {
  font-size: 10px;
  color: var(--color-secondary);
}
.portfolios .portfolio-item .hover-items .icons {
  display: flex;
  align-items: center;
  justify-self: center;
}
.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}
.portfolios .portfolio-item .hover-items .icons .icon i {
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-white);
  margin: 0 1rem;
}
.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-white);
}
.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-primary);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

.contact-content-con {
  display: flex;
  padding-top: 3.5rem;
  justify-content: space-around;
}
.contact-content-con .left-contact {
  flex: 3;
}
.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
.contact-content-con .left-contact p {
  margin: 1rem;
  line-height: 2rem;
}
.contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contact-content-con .left-contact .contact-icon {
  display: flex;
  margin-bottom: 2rem;
}
.contact-content-con .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey5);
  cursor: pointer;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: var(--transition);
}
.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}
.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}
.contact-content-con .right-contact {
  flex: 4;
  margin-left: 1rem;
}
.contact-content-con .right-contact .input-control {
  margin: 0.5rem;
}
.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}
.contact-content-con .submit-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-content-con .message-btn {
  background-color: var(--color-grey5);
  padding: 0.5rem;
  text-transform: uppercase;
  width: 50%;
  border-radius: 30px;
  color: var(--color-white);
}
.contact-content-con .message-btn:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
}

.btn-con {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 500;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 1rem;
}
.main-btn .btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: var(--transition);
  z-index: -1;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
  transition: var(--transition);
}

@media screen and (max-width: 800px) {
  section {
    width: 100%;
    padding: 2rem !important;
  }
  .right-header {
    width: 100%;
    padding-right: 2rem !important;
    padding-left: 1rem;
  }
  .controls {
    top: auto;
    width: 100%;
    height: 50px;
    background-color: #21232b;
    opacity: 1;
    position: fixed;
    bottom: -4.5%;
    left: 50%;
  }
  .controls ul {
    display: flex;
  }
  .controls ul .control {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 650px) {
  .header-content {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    grid-row: 1;
    margin: 0 auto;
    width: 90%;
  }
  .contact-content-con {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
  }
  .portfolios {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .portfolios {
    grid-template-columns: 1fr;
  }
  .progress-bars {
    grid-template-columns: 1fr !important;
  }
  


}/*# sourceMappingURL=styles.css.map */